body {
    margin: 0;
}

html,
body,
#canvas {
    width: 100%;
    height: 100%;

}

.top,
.starfield {
    position: absolute;
}

.starfield {
    height: 100%;
    left: 0;
    /* position: absolute; */
    top: 0;
    width: 100%;
    z-index: 0;
}

.top {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}

.text {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: aliceblue;
}

.highlight {
    color: #3cd4d4;
}

@media (max-width:612px) {
    .text {
        font-size: 1.5rem;
    }
}

.viewbtn {
    margin-top: 7rem;
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    color: aqua;
}

.navbar {
    margin-top: -0.5rem;
}

.heading {
    font-family: "Raleway-bold", sans-serif;
    color: rgb(62, 62, 60);
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 3px;
    text-decoration: underline;
    text-underline-offset: 20px;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.space {
    margin-bottom: 0rem;
    visibility: hidden;
}


/* about cards */

.iconimage {
    height: 130px;
    width: 160px;
}

.myimage {
    height: 330px;
    width: 360px;
}

.iconcards {
    border: 0;
    width: 230px;
    height: 250px;
    /*70% */
    margin-top: 1rem;
}

.mycard {
    width: 430px;
    height: 450px;
    border: 0;
}

.col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagepart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.barpart {
    margin-top: 3rem;
}

.icontitle {
    margin-top: -1.25rem;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 150%;
}

.icontext {
    font-family: "Raleway", sans-serif;
}

.myprofile {
    margin-top: 5rem;
}

.mytitle {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}

.mydesc {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
}

@media (max-width:1078px) {
    .iconimage {
        height: 80px;
        width: 110px;
    }

    .iconcards {
        width: 190px;
        height: 150px;
    }

    .icontitle {
        font-weight: 700;
        font-size: 0.75rem;
    }

    .icontext {
        font-size: 10px;
    }
}