body {
    margin: 0;
}

html,
body,
#canvas {
    width: 100%;
    height: 100%;

}

.top,
.starfield {
    position: absolute;
}

.starfield {
    height: 100%;
    left: 0;
    /* position: absolute; */
    top: 0;
    width: 100%;
    z-index: 0;
}

.top {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}

.text {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: aliceblue;
}

.highlight {
    color: aqua;
}

.viewbtn {
    margin-top: 7rem;
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    color: aqua;
}

.navbar {
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;
}

h2 {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 400 !important;
    font-size: 60px !important;
    color: #080808;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}


.eight h2:after,
.eight h2:before {
    content: " ";
    display: block;
    border-bottom: 2px solid #ccc;
    background-color: #f8f8f8;
}

/* about cards */

.card-img-top {
    height: 170px;
    width: 200px;
}

.card {
    border: 0;
    width: 250px;
    margin-top: 1rem;
}

.card-title {
    margin-top: -1.25rem;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 150%;

}

.card-text {
    font-family: "Raleway", sans-serif;
}