<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheet/main.css">
    <link rel="stylesheet" href="stylesheet/mainbtn.css">
    <link rel="stylesheet" href="stylesheet/navbar.css">
    <link rel="stylesheet" href="stylesheet/progressbars.css">
    <link rel="stylesheet" href="stylesheet/contact.css">
    <link rel="stylesheet" href="stylesheet/slider.css">
    <link rel="stylesheet" href="stylesheet/footer.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" crossorigin="anonymous"></script>
    <script src="https://rawgit.com/mrdoob/stats.js/master/build/stats.min.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700;900&display=swap" rel="stylesheet">
</head>

<body>
    <canvas id="canvas"></canvas>
    <div class="starfield"></div>
    <div class="top">
        <div class="text">
            Hello, I'm <span class="highlight">Preetpal Singh</span>.
            <br>
            I'm a full-stack web developer.
        </div>
    </div>
    <div class="viewbtn">
        <a class="button button--nina button--border-thin button--round-s button--size-l button--text-medium"
            data-text="My Work" href="#about">
            <span>M</span><span>y</span>
            <span>W</span><span>o</span><span>r</span><span>k</span>
        </a>
    </div>

    <nav class="navbar navbar-expand-lg bg-dark navbar-dark" id="navbar">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" aria-current="page" href="#">Home</a>
                    <a class="nav-link" href="#about">About</a>
                    <a class="nav-link" href="#projects">Projects</a>
                    <a class="nav-link" href="#contact">Contact</a>
                </div>
            </div>
        </div>
    </nav>

    <section id="about" class="padd">
        <div class="space">nah</div>
        <div class="text-center">
            <h2 class="heading">ABOUT</h2>
        </div>
        <div class="container">
            <div class="row row-cols-2 row-cols-sm-4 g-4">
                <div class="col">
                    <div class="card iconcards text-center">
                        <img src="images/capture.png" class="card-img-top iconimage mx-auto" alt="...">
                        <div class="card-body">
                            <h5 class="card-title icontitle">Fast</h5>
                            <p class="card-text icontext">Fast load times and lag free interaction, my highest priority.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card iconcards text-center">
                        <img src="images/dynamic.png" class="card-img-top iconimage mx-auto" alt="...">
                        <div class="card-body">
                            <h5 class="card-title icontitle">Responsive</h5>
                            <p class="card-text icontext">My layouts will work on any device, big or small.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card iconcards text-center">
                        <img src="images/intutive.png" class="card-img-top iconimage mx-auto" alt="...">
                        <div class="card-body">
                            <h5 class="card-title icontitle">Intuitive</h5>
                            <p class="card-text icontext">Strong preference for easy to use, intuitive UX/UI.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card iconcards text-center">
                        <img src="images/responsive.png" class="card-img-top iconimage mx-auto" alt="...">
                        <div class="card-body">
                            <h5 class="card-title icontitle">Dynamic</h5>
                            <p class="card-text icontext">Websites don't have to be static, I love making pages come to
                                life.</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="myprofile">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 imagepart">
                        <div class="card text-center mycard">
                            <img src="images/myimage.jpg" class="card-img-top myimage mx-auto" alt="...">
                            <div class="card-body">
                                <h5 class="card-title mytitle">Who's This Guy?</h5>
                                <p class="card-text mydesc">Experienced Web Developer, with a history of quickly
                                    understanding
                                    a project's goals and vision behind it. Skilled in JavaScript, Express.js, Node.js,
                                    HTML, CSS, Bootstrap, MongoDB, currently learning react.js
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 barpart">
                        <span class="bar">JavaScript</span>
                        <div class="progress">
                            <div class="progress-value"></div>
                        </div>
                        <span class="bar">HTML</span>
                        <div class="progress2">
                            <div class="progress-value2"></div>
                        </div>
                        <span class="bar">CSS</span>
                        <div class="progress3">
                            <div class="progress-value3"></div>
                        </div>
                        <span class="bar">Node.JS</span>
                        <div class="progress4">
                            <div class="progress-value4"></div>
                        </div>
                        <span class="bar">Express.JS</span>
                        <div class="progress5">
                            <div class="progress-value5"></div>
                        </div>
                        <span class="bar">MongoDB</span>
                        <div class="progress6">
                            <div class="progress-value6"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <section id="projects" class="padd">
        <div class="space">nah</div>
        <div class="text-center">
            <h2 class="heading">PROJECTS</h2>
        </div>
        <ul class="honeycomb" lang="es">

            <li class="honeycomb-cell">
                <img class="honeycomb-cell__image" src="https://source.unsplash.com/random/2">
                <div class="honeycomb-cell__title">Impermeables</div>
            </li>
            <li class="honeycomb-cell">
                <img class="honeycomb-cell__image" src="https://source.unsplash.com/random/3">
                <div class="honeycomb-cell__title">Tablero doble cara</div>
            </li>
            <li class="honeycomb-cell">
                <img class="honeycomb-cell__image" src="https://source.unsplash.com/random/4">
                <div class="honeycomb-cell__title">Maletín de empaque</div>
            </li>
            <li class="honeycomb-cell">
                <img class="honeycomb-cell__image" src="https://source.unsplash.com/random/5">
                <div class="honeycomb-cell__title">Antireflectivo<small>No vidrio</small></div>
            </li>

            <li class="honeycomb-cell honeycomb__placeholder"></li>
        </ul>
    </section>


    <section id="contact" class="padd">
        <div class="space">nah</div>

        <div class="container">
            <div class="text-center">
                <h2 class="heading">CONTACT</h2>
            </div>
            <div style="margin-top: 10rem;">
                <form class="contact-form">
                    <div>
                        <img src="https://cdn4.iconfinder.com/data/icons/basic-user-interface-elements/700/mail-letter-offer-256.png"
                            alt="icon">
                    </div>
                    <input type="text" placeholder="Name" id="name" required>
                    <input type="email" placeholder="Enter email" id="email" required>
                    <textarea placeholder="Your Message" id="message" required></textarea>
                    <input type="submit" value="Send">
                </form>
            </div>
        </div>
    </section>


    <footer>
        <div class="footer">
            <div class="footer-social-icons">
                <ul class="social-icons">
                    <li><a href="" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
                    <li><a href="" class="social-icon"> <i class="fa fa-instagram"></i></a></li>
                    <li><a href="" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
                    <li><a href="" class="social-icon"> <i class="fa fa-github"></i></a></li>
                </ul>
            </div>
            <div class="row">
                Preetpal Singh ©2022
            </div>
        </div>
    </footer>



    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
        crossorigin="anonymous"></script>
    <script src="javascript/canvascode.js"></script>
    <script src="javascript/main.js"></script>
    <script src="javascript/navbar.js"></script>
    <script src="javascript/slider.js"></script>
</body>


</html>